{% extends 'index.html' %}

{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>{{ info.shop_title_line_1 }}</p>
						<h1>{{ info.shop_title_line_2 }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            {% for category in categories %}
                            <li data-filter=".filter-{{ category.name }}">{{ category.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">
                {% for product in products %}
				<div class="col-lg-4 col-md-6 text-center filter-{{ product.category.name }}">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src={{ product.photo.url }} alt="photo"></a>
						</div>
						<h3>{{ product.name }}</h3>
						<p class="product-price"><span>Per {{ product.unit }}</span> {{ product.price }}$ </p>
						<a href="{{ product.slug }}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				{% endfor %}
			</div>


		</div>
	</div>
	<!-- end products -->

{% endblock %}