{% extends 'index.html' %}

{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>{{ info.shop_title_line_1 }}</p>
						<h1>{{ info.shop_title_line_2 }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img src={{ product.photo.url }} alt="">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h3>{{ product.name }}</h3>
						<p class="single-product-pricing"><span>Per {{ product.unit }}</span> ${{ product.price }}</p>
						<div class="single-product-form">
    						<form action="{% url "cart:cart_add" product.id %}" method="post">
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <button class="cart-btn"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
                            </form>
							<p><strong>Category: </strong>{{ product.category }}</p>
						</div>
                        <p>{{ product.description|safe }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->

	<!-- more products -->
	<div class="more-products mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Related</span> Products</h3>
						<p>{{ info.related_prod_title }}</p>
					</div>
				</div>
			</div>
			<div class="row">
				 {% for product in rel_products %}
                     {% if forloop.counter < 4 %}
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href={{ product.slug }}><img src={{ product.photo.url }} alt=""></a>
                                </div>
                                <h3>{{ product.name }}</h3>
                                <p class="product-price"><span>Per {{ product.unit }}</span> {{ product.price }}$ </p>
                                <a href={{ product.slug }} class="cart-btn"><i class="fas fa-shopping-cart"></i> Order </a>
                            </div>
                        </div>
                     {% endif %}
                 {% endfor %}
            </div>
		</div>
	</div>
	<!-- end more products -->

{% endblock %}